@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #dbeafe;
  --color-secondary: #0f172a;
  --color-base-content: #064e3b;
}

/* --color-primary: #dbeafe; blue-100
  --color-secondary: #0f172a; gray-900 dark navy
  --color-base-content: #064e3b; green-800 deep green */

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
